:root {
  --tag-height: 18px;
}

.markdown-body {
  font-size: 1rem;
  line-height: 1.5;
  color: #000000d0;
  padding: 2rem 2rem;
}

/* block title*/
.block-container {
  border-left: 2px solid transparent;
  padding: 0.2rem 0 0.2rem 1rem;
  margin-bottom: 0.8rem;
}

.block-container > .block-title > div p {
  margin: 0;
}

.block-container > .block-title > .block-label {
  margin-left: 6px;
  font-size: 1rem;
}

.block-container > .block-title > .block-title-mdast {
  margin-left: 12px;
  font-size: 1.1rem;
}

.block-container > .block-title {
  display: flex;
  align-items: center;
}

.block-container > .block-title > .block-icon {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  stroke-width: 2;
}

/* block body*/
.block-container > .block-body {
  padding-top: 0.5rem;
}

.block-extend::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 30px;
  height: 30px;
  display: block;

  border-left: 2px solid #9f9f9f;
  border-top: 2px solid #9f9f9f;
  /* background-color: #9f9f9f8e; */
}

.block-extend {
  position: relative;
  font-size: 0.9rem;
  margin: 1rem 1rem 0 4rem;
  padding: 0.5rem 1rem 1px;
  border-left: 2px dashed #e2e2e2;
  border-right: 2px dashed #e2e2e2;
}
.block-extend::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 30px;
  height: 30px;
  display: block;

  border-right: 2px solid #9f9f9f;
  border-bottom: 2px solid #9f9f9f;
  /* background-color: #9f9f9f8e; */
}
